---
// Componente de navegación para la pantalla principal
import BaseNavLayout from '../../layouts/BaseNavLayout.astro';
---

<BaseNavLayout>
	<li><a href="#inicio">Inicio</a></li>
	<li><a href="#sobre-mi">Sobre mí</a></li>
	<li><a href="#servicios">Servicios</a></li>
	<li><a href="#proyectos">Proyectos</a></li>
	<li><a href="#contacto" class="btn btn-primary btn-sm">Contacto</a></li>
</BaseNavLayout>
